{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'course/course.css' %}">
    <title>courses</title>
</head>
<body>

    <ul class="course-list">
    <li class="course-item">
        {% for course in courses %}
            <h1>
            {{ course.title }}
            </h1>
            <h2>
            <p>{{ course.description }}</p>
            </h2>
             <br>
             <br>
        {% endfor %}
    </li>
    </ul>


</body>
</html>






